html{
	background-color: black;
	font-family:monospace;
	letter-spacing: 1px;
	box-sizing: border-box;
}


h1{
	font-size: 60px;
	color: white;
	font-weight: 500;
	width:100%;
	padding-top: 1.5rem!important;
	padding-bottom: 1.5rem!important;
	display: inline-block;
	margin: auto;
	text-align: center!important;
}

@media screen and (max-width: 440px) {
  h1 {
  	font-size: 40px;
		color: white;
		font-weight: 500;
		width:100%;
		padding-top: 1.5rem!important;
		padding-bottom: 1.5rem!important;
		display: inline-block;
		margin: auto;
		text-align: center!important;
  }
}


h2{
	font-size: 20px;
	color: white;
	font-weight: 500;
	padding-top: 1.5rem!important;
	text-align: center!important;
	position: static;
	margin: 0 auto;
	text-align: center!important;
}

.container {
	max-width: 1400px;
	margin: 0 auto;
}

.title {
	font-size: 35px;
	color: white;
	font-weight: bold;
	text-align: center!important;
}


.row {
  display:flex;
}


.aboutme {
  width: 50%;
  margin: auto;
  text-align: center;
  padding-bottom: 2rem;

}


.columns {
  width: 33.33%;
  margin: 1rem;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 900px) {
  .aboutme {
    width: 100%;
    margin: auto;
  }
}

@media screen and (max-width: 900px) {
  .columns {
    width: 100%;
    margin: auto;
  }
}

@media screen and (max-width: 900px) {
  .row {
    width: 100%;
    display: block;
  }
}


.infocard {
	background-color: white;
	border-radius: 0.5em;
	font-size: 25px;
	margin: 1rem auto;
	padding: 1rem;
	text-align: center;
}

.infocardtitle {
	font-size: 45px;
	color: black;
	font-weight: bold;
	text-align: center;!important;
}

.fa-minus {
	color: white;
	font-size: 2rem;
	display: inline-block;
	height: 1em;
}

.button {
	background-color: black!important;
	border-radius: 0.5em!important;
	color: white!important;
	margin: Auto!important;
	padding: 0.5rem!important;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
  border-radius: 50%;
}

.bottompage {
	font-size: 15px;
	text-align: center;
	display: inline-block;
	color: white;
	font-weight: 500;
	margin: auto;
	width:100%;
	padding-top: 3rem!important;
	padding-bottom: 3rem!important;
}
